body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
}

/* Sections */
section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

/* Skills list */
ul {
    list-style-type: square;
}

/* Projects */
.project {
    background-color: #eee;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
